body {
margin: 0;
background-color: #131313;
color: white;
font-family: Arial, Helvetica, sans-serif;
min-height: 100vh;
background-image: url(https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
background: rgba(39,62,84,0.);
z-index: 1;

}

.Container{
  width: 100%;
  height: 100vh;
}

.topmenu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-left: 0px;
  background-color: #000;

}

.topmenu li {
  list-style: none;
  display: inline;
  padding: 15px;
  color: #fff;
  align-content: right;
}

.topmenu li a {
  list-style: none;
  color: #fff;
  font-family: 'Saira', sans-serif;
  text-decoration: none;

}
.topmenu li a:hover{
  text-decoration: underline;
  text-decoration-color: red;
  margin-bottom: 10px;





}
.logo{
  width: 50px;
  cursor: pointer;
}
